extends ./layouts/app

block content
  .wrapper-img
    .overlay-wrapper
      .inner-wrapper
        .col-sm-12
          h5.title-index Hãy tham gia vào hệ thống của chúng tôi
          a(href="/users/login" class="btn btn-success btn-lg") Đăng nhập
          a(href="/userRegister" class="btn btn-default btn-lg") Đăng ký
