extends ../layouts/customer
block content
  .container-fluid
    .page-header
      h1.text-center Thông tin cá nhân của bạn
    .row
      .col-sm-12
        p="Tài khoản còn lại: " +customer.money+ " vnđ"
